*.zip
*.tfstate
*.tfstate.backup
.terraform
.tfvars
.vscode
*.tfvars
*.lock.info

code/Jinja2*
code/jinja2*
code/markupsafe*
code/MarkupSafe*
code/__pycache__*
code/test.py
code/.pytest_cache
code/.coverage
code/htmlcov