{% extends "base.html" %}
{% block title %}Create a new Terraform backen{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">Create a new Terraform backend</h5>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="name">Project name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="owner">Owner</label>
                            <input type="email" class="form-control" id="owner" name="owner" required>
                        </div>

                        <input class="btn btn-primary" type="submit" value="Create">
                    </form>
                </div>
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}